@font-face {
  font-family: font_sans;
  src: url(../assets/fonts/font_light.ttf);
}
@font-face {
  font-family: font_bold;
  src: url(../assets/fonts/font_medium.ttf);
}

@font-face {
  font-family:Roboto_regular;
  src: url(../assets/fonts/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family:Roboto_bold;
  src: url(../assets/fonts/fonts/Roboto-Bold.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto !important;
}
.home{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

}